@page
@model Shofy.Pages.Client.Pages_Client_BlogModel
@{
    ViewData["Title"] = "Blog";
}

<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('../images/bg-02.jpg');">
    <h2 class="ltext-105 cl0 txt-center">
        Blog
    </h2>
</section>

<!-- Content page -->
<section class="bg0 p-t-62 p-b-60">
    <div class="container">
        <div class="row">

            @{
                // Lấy số trang từ query string (mặc định là 1 nếu không có)
                int page;
                bool isValidPage = int.TryParse(Request.Query["page"], out page);
                page = isValidPage && page > 0 ? page : 1;

                // Số mục blog mỗi trang
                int pageSize = 1;

                // Tổng số mục blog (hard-coded, hiện có 3 mục)
                int totalBlogs = 3;

                // Tính tổng số trang
                int totalPages = (int)Math.Ceiling((double)totalBlogs / pageSize);

                // Giới hạn page trong khoảng hợp lệ
                page = Math.Max(1, Math.Min(page, totalPages));

                // Tính chỉ số bắt đầu và kết thúc của mục blog cần hiển thị
                int startIndex = (page - 1) * pageSize + 1; // Chỉ số mục bắt đầu (1-based)
                int endIndex = Math.Min(startIndex + pageSize - 1, totalBlogs); // Chỉ số mục kết thúc
            }

            <div class="col-md-8 col-lg-9 p-b-80">
                <div class="p-r-45 p-r-0-lg">
                    <!-- item blog -->
                    @if (startIndex <= 1 && endIndex >= 1)
                    {
                        <div class="p-b-63">
                            <a href="/Client/BlogDetail" class="hov-img0 how-pos5-parent">
                                <img src="~/images/blog-04.jpg" alt="IMG-BLOG">
                                <div class="flex-col-c-m size-123 bg9 how-pos5">
                                    <span class="ltext-107 cl2 txt-center">
                                        22
                                    </span>
                                    <span class="stext-109 cl3 txt-center">
                                        Tháng 1 2025
                                    </span>
                                </div>
                            </a>
                            <div class="p-t-32">
                                <h4 class="p-b-15">
                                    <a href="/Client/BlogDetail" class="ltext-108 cl2 hov-cl1 trans-04">
                                        8 Cách Truyền Cảm Hứng Để Mặc Vá Trong Mùa Đông
                                    </a>
                                </h4>
                                <p class="stext-117 cl6">
                                    Mặc váy trong mùa đông có thể vừa phong cách vừa ấm áp nếu bạn áp dụng đúng cách. Những ý tưởng này kết hợp giữa tính thực tế và thời trang, giữ bạn ấm áp trong khi vẫn tôn lên vẻ đẹp của chiếc váy.
                                </p>
                                <div class="flex-w flex-sb-m p-t-18">
                                    <span class="flex-w flex-m stext-111 cl2 p-r-30 m-tb-10">
                                        <span>
                                            <span class="cl4">Bởi</span> Quản trị viên
                                            <span class="cl12 m-l-4 m-r-6">|</span>
                                        </span>
                                        <span>
                                            Phong cách đường phố, Thời trang, Cặp đôi
                                            <span class="cl12 m-l-4 m-r-6">|</span>
                                        </span>
                                        <span>
                                            8 Bình luận
                                        </span>
                                    </span>
                                    <a href="/Client/BlogDetail" class="stext-101 cl2 hov-cl1 trans-04 m-tb-10">
                                        Đọc tiếp
                                        <i class="fa fa-long-arrow-right m-l-9"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }

                    <!-- item blog -->
                    @if (startIndex <= 2 && endIndex >= 2)
                    {
                        <div class="p-b-63">
                            <a href="/Client/BlogDetail" class="hov-img0 how-pos5-parent">
                                <img src="~/images/blog-05.jpg" alt="IMG-BLOG">
                                <div class="flex-col-c-m size-123 bg9 how-pos5">
                                    <span class="ltext-107 cl2 txt-center">
                                        18
                                    </span>
                                    <span class="stext-109 cl3 txt-center">
                                        Tháng 2 2025
                                    </span>
                                </div>
                            </a>
                            <div class="p-t-32">
                                <h4 class="p-b-15">
                                    <a href="/Client/BlogDetail" class="ltext-108 cl2 hov-cl1 trans-04">
                                        Danh Sách Quà Tặng Lớn Dành Cho Nam Giới Trong Dịp Lễ Hội
                                    </a>
                                </h4>
                                <p class="stext-117 cl6">
                                    Việc tìm kiếm món quà hoàn hảo cho nam giới trong cuộc sống của bạn vào dịp lễ hội có thể là một thách thức, nhưng danh sách này bao gồm nhiều sở thích, phong cách và ngân sách khác nhau để giúp bạn dễ dàng hơn.
                                </p>
                                <div class="flex-w flex-sb-m p-t-18">
                                    <span class="flex-w flex-m stext-111 cl2 p-r-30 m-tb-10">
                                        <span>
                                            <span class="cl4">Bởi</span> Quản trị viên
                                            <span class="cl12 m-l-4 m-r-6">|</span>
                                        </span>
                                        <span>
                                            Phong cách đường phố, Thời trang, Cặp đôi
                                            <span class="cl12 m-l-4 m-r-6">|</span>
                                        </span>
                                        <span>
                                            8 Bình luận
                                        </span>
                                    </span>
                                    <a href="/Client/BlogDetail" class="stext-101 cl2 hov-cl1 trans-04 m-tb-10">
                                        Đọc tiếp
                                        <i class="fa fa-long-arrow-right m-l-9"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }

                    <!-- item blog -->
                    @if (startIndex <= 3 && endIndex >= 3)
                    {
                        <div class="p-b-63">
                            <a href="/Client/BlogDetail" class="hov-img0 how-pos5-parent">
                                <img src="~/images/blog-06.jpg" alt="IMG-BLOG">
                                <div class="flex-col-c-m size-123 bg9 how-pos5">
                                    <span class="ltext-107 cl2 txt-center">
                                        16
                                    </span>
                                    <span class="stext-109 cl3 txt-center">
                                        Tháng 3 2025
                                    </span>
                                </div>
                            </a>
                            <div class="p-t-32">
                                <h4 class="p-b-15">
                                    <a href="/Client/BlogDetail" class="ltext-108 cl2 hov-cl1 trans-04">
                                        5 Xu Hướng Thời Trang Từ Đông Sang Xuân Để Thử Ngay Bây Giờ
                                    </a>
                                </h4>
                                <p class="stext-117 cl6">
                                    Chuyển giao từ mùa đông sang mùa xuân đòi hỏi những phong cách mới mẻ, linh hoạt để phù hợp với cả hai mùa. Dưới đây là năm xu hướng thời trang năm 2025 dành cho cả nam và nữ, kết hợp giữa cảm giác ấm áp và những điểm nhấn nhẹ nhàng, rực rỡ. Những xu hướng này được lấy cảm hứng từ các buổi trình diễn thời trang gần đây, phong cách đường phố và những thay đổi văn hóa, hoàn hảo để bạn áp dụng ngay khi mùa đông dần chuyển sang mùa xuân.
                                </p>
                                <div class="flex-w flex-sb-m p-t-18">
                                    <span class="flex-w flex-m stext-111 cl2 p-r-30 m-tb-10">
                                        <span>
                                            <span class="cl4">Bởi</span> Quản trị viên
                                            <span class="cl12 m-l-4 m-r-6">|</span>
                                        </span>
                                        <span>
                                            Phong cách đường phố, Thời trang, Cặp đôi
                                            <span class="cl12 m-l-4 m-r-6">|</span>
                                        </span>
                                        <span>
                                            8 Bình luận
                                        </span>
                                    </span>
                                    <a href="/Client/BlogDetail" class="stext-101 cl2 hov-cl1 trans-04 m-tb-10">
                                        Đọc tiếp
                                        <i class="fa fa-long-arrow-right m-l-9"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }

                    <!-- Pagination -->
                    <div class="flex-l-m flex-w w-full p-t-10 m-lr--7">
                        @for (int i = 1; i <= totalPages; i++)
                        {
                            <a href="?page=@i" class="flex-c-m how-pagination1 trans-04 m-all-7 @(page == i ? "active-pagination1" : "")">
                                @i
                            </a>
                        }
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-3 p-b-80">
                <div class="side-menu">
                    <div class="bor17 of-hidden pos-relative">
                        <input class="stext-103 cl2 plh4 size-116 p-l-28 p-r-55" type="text" name="search" placeholder="Tìm kiếm">
                        <button class="flex-c-m size-122 ab-t-r fs-18 cl4 hov-cl1 trans-04">
                            <i class="zmdi zmdi-search"></i>
                        </button>
                    </div>

                    <div class="p-t-55">
                        <h4 class="mtext-112 cl2 p-b-33">
                            Danh mục
                        </h4>
                        <ul>
                            <li class="bor18">
                                <a href="#" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">
                                    Thời trang
                                </a>
                            </li>
                            <li class="bor18">
                                <a href="#" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">
                                    Làm đẹp
                                </a>
                            </li>
                            <li class="bor18">
                                <a href="#" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">
                                    Phong cách đường phố
                                </a>
                            </li>
                            <li class="bor18">
                                <a href="#" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">
                                    Phong cách sống
                                </a>
                            </li>
                            <li class="bor18">
                                <a href="#" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">
                                    Tự làm & Thủ công
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="p-t-65">
                        <h4 class="mtext-112 cl2 p-b-33">
                            Sản phẩm nổi bật
                        </h4>
                        <ul>
                            <li class="flex-w flex-t p-b-30">
                                <a href="#" class="wrao-pic-w size-214 hov-ovelay1 m-r-20">
                                    <img src="~/images/product-min-01.jpg" alt="PRODUCT">
                                </a>
                                <div class="size-215 flex-col-t p-t-8">
                                    <a href="#" class="stext-116 cl8 hov-cl1 trans-04">
                                        Áo sơ mi trắng có chi tiết xếp ly phía sau
                                    </a>
                                    <span class="stext-116 cl6 p-t-20">
                                        19.00 VNĐ
                                    </span>
                                </div>
                            </li>
                            <li class="flex-w flex-t p-b-30">
                                <a href="#" class="wrao-pic-w size-214 hov-ovelay1 m-r-20">
                                    <img src="~/images/product-min-02.jpg" alt="PRODUCT">
                                </a>
                                <div class="size-215 flex-col-t p-t-8">
                                    <a href="#" class="stext-116 cl8 hov-cl1 trans-04">
                                        Giày Converse All Star Hi vải đen
                                    </a>
                                    <span class="stext-116 cl6 p-t-20">
                                        39.00 VNĐ
                                    </span>
                                </div>
                            </li>
                            <li class="flex-w flex-t p-b-30">
                                <a href="#" class="wrao-pic-w size-214 hov-ovelay1 m-r-20">
                                    <img src="~/images/product-min-03.jpg" alt="PRODUCT">
                                </a>
                                <div class="size-215 flex-col-t p-t-8">
                                    <a href="#" class="stext-116 cl8 hov-cl1 trans-04">
                                        Đồng hồ da Nixon Porter màu nâu
                                    </a>
                                    <span class="stext-116 cl6 p-t-20">
                                        17.00 VNĐ
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="p-t-55">
                        <h4 class="mtext-112 cl2 p-b-20">
                            Lưu trữ
                        </h4>
                        <ul>
                            <li class="p-b-7">
                                <a href="#" class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2">
                                    <span>
                                        Tháng 7 2024
                                    </span>
                                    <span>
                                        (9)
                                    </span>
                                </a>
                            </li>
                            <li class="p-b-7">
                                <a href="#" class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2">
                                    <span>
                                        Tháng 6 2024
                                    </span>
                                    <span>
                                        (39)
                                    </span>
                                </a>
                            </li>
                            <li class="p-b-7">
                                <a href="#" class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2">
                                    <span>
                                        Tháng 5 2024
                                    </span>
                                    <span>
                                        (29)
                                    </span>
                                </a>
                            </li>
                            <li class="p-b-7">
                                <a href="#" class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2">
                                    <span>
                                        Tháng 4 2024
                                    </span>
                                    <span>
                                        (35)
                                    </span>
                                </a>
                            </li>
                            <li class="p-b-7">
                                <a href="#" class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2">
                                    <span>
                                        Tháng 3 2024
                                    </span>
                                    <span>
                                        (22)
                                    </span>
                                </a>
                            </li>
                            <li class="p-b-7">
                                <a href="#" class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2">
                                    <span>
                                        Tháng 2 2024
                                    </span>
                                    <span>
                                        (32)
                                    </span>
                                </a>
                            </li>
                            <li class="p-b-7">
                                <a href="#" class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2">
                                    <span>
                                        Tháng 1 2024
                                    </span>
                                    <span>
                                        (21)
                                    </span>
                                </a>
                            </li>
                            <li class="p-b-7">
                                <a href="#" class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2">
                                    <span>
                                        Tháng 12 2023
                                    </span>
                                    <span>
                                        (26)
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="p-t-50">
                        <h4 class="mtext-112 cl2 p-b-27">
                            Thẻ
                        </h4>
                        <div class="flex-w m-r--5">
                            <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                Thời trang
                            </a>
                            <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                Phong cách sống
                            </a>
                            <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                Vải denim
                            </a>
                            <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                Phong cách đường phố
                            </a>
                            <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                Thủ công
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>