@page
@model Shofy.Pages.Accounts.LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
    <div class="card col-lg-4 mx-auto">
        <div class="card-body px-5 py-5">
            <h3 class="card-title text-left mb-3 text-dark">Login</h3>
            @if (!string.IsNullOrEmpty(Model.ErrorMessage))
            {
                <div class="alert alert-danger mt-2 text-center">@Model.ErrorMessage</div>
            }
            <form method="post">
                <div class="form-group">
                    <label asp-for="Username" class="form-label text-dark"></label>
                    <input type="text" class="form-control" asp-for="Username" required />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="form-label text-dark"></label>
                    <input type="password" class="form-control" asp-for="Password" required />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-block enter-btn">Login</button>
                </div>
                <div class="d-flex">
                    <button class="btn btn-facebook mr-2 col"> Facebook
                    </button>
                    <button class="btn btn-google col"> Google plus
                    </button>
                </div>
                <p class="text-center text-dark">Don't have an Account? <a href="/Accounts/Register">Sign Up</a></p>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
